section {
  display: flex;
  flex-wrap: wrap;
}

section .weather {
  border: 1px solid #ccc;
  flex: 1;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.weather span {
  font-weight: bold;
}
